html
  body
    table
      thead
        tr
          th.number x
          th.number y
          th.number xMeanDist
          th.number yMeanDist
          th.number xMeanDistSquared
          th.number meanProducts
      tbody
        tr
          td.number 1
          td.number 2
          td.number -2
          td.number -2
          td.number 4
          td.number 4
        tr
          td.number 2
          td.number 4
          td.number -1
          td.number 0
          td.number 1
          td.number 0
        tr
          td.number 3
          td.number 5
          td.number 0
          td.number 1
          td.number 0
          td.number 0
        tr
          td.number 4
          td.number 4
          td.number 1
          td.number 0
          td.number 1
          td.number 0
        tr
          td.number 5
          td.number 5
          td.number 2
          td.number 1
          td.number 4
          td.number 2
